.red {
    background-color: red;
}

.orange {
    background-color: orange;
}

.purlple {
    background-color: purple;
}

.pink {
    background-color: pink;
}

.blue {
    background-color: blue;
}

.yellow {
    background-color: yellow;
}

.white {
    background-color: white;
}

.green {
    background-color: green;
}

.italic {
    font-style: italic;
}

.bold {
    font-weight: bold;
}